<div class="page-header">
  <h1>Flicksie! <small>Just a Flickr gallery app.</small></h1>
</div>
<div class="row">
  <div ng-controller="PhotoListCtrl" class="col-md-4">
    <div ng-if="isLoading()">
      Loading from Flickr.. please wait.
    </div>
    <div class="list-group">
      <a class="list-group-item" ng-repeat="photo in model.photos" ng-click="selectPhoto(photo)" ng-class="{'active': photo.id==getSelectedId()}">
        {{photo.title || 'No Title'}}
      </a>
    </div>
  </div>

  <div class="photo-viewer col-md-8" ng-controller="PhotoViewerCtrl">
    <img image-loader src="{{getActivePhotoUrl()}}">
  </div>
</div>